.active.miscellaneous, .active.booking,.active.containerList {
    background-color: #003754;
    color: #FFFFFF;
}

.miscellaneous {
    right: -15px;
    bottom: -45px;
    width: 75px;
    height: 35px;
    background-color: #ffffff;
    color: #003754;
    text-align: center;
    position: relative;
    padding-top: -10px;
    border-radius: 0px 0px 25px 0px;
    cursor: pointer;
    border: '1px solid black';
}

.booking {
    right: -15px;
    bottom: -45px;
    width: 75px;
    height: 35px;
    background-color: #ffffff;
    color: #003754;
    text-align: center;
    position: relative;
    padding-top: -10px;
    border-radius: 0px 0px 0px 0px;
    cursor: pointer;
}

.containerList {
    right: -15px;
    bottom: -45px;
    width: 75px;
    height: 35px;
    background-color: #ffffff;
    color: #003754;
    text-align: center;
    position: relative;
    padding-top: -10px;
    border-radius: 0px 0px 0px 0px;
    cursor: pointer;
}
