 body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} 
 @font-face {
  font-family: "Dubai-Light";
  src: local("Dubai-Light"), url("./fonts/Dubai-Light.ttf") format("ttf");
  src: local("Dubai-Light"), url("./fonts/Dubai-Medium.ttf") format("ttf");
  src: local("Dubai-Light"), url("./fonts/Dubai-Regular.ttf") format("ttf");
  src: local("Dubai-Light"), url("./fonts/Dubai-Bold.ttf") format("ttf");
}

